*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
   
}
nav {
    background: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.nav-left {
    font-weight: bold;
}

.nav-right a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
header {
    /* Tambahkan gambar atau warna sesuai kebutuhan */
    height: 150px;
    background-color: deeppink;
    margin: 0;
    padding: 0;
}

#content{
    text-align: center;
    padding: 10px;
    margin: 0px;
}
#content li{
    margin-bottom: 10px;
    padding: 10px;
}
